
* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

main{
    display: flex;
    flex-direction: row;
}

.header1 {
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, #1f4837 0%, #3b8e65 100%);
    color: #090909;
    text-align: center;
    display: flex;
}

.header1 h1{
    padding: 0;
    margin: auto;
}

.search-container {
    width: 200px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
   
}


#location, #search-button {
    height: 20px;
    margin-bottom: 10px;
}

#search-button {
    background-color: #1f4837;
    border: 1px
}

#search-button:hover{
    background-color: #ebedf4;
}

#error{
    color: brown;
}

#error::after {
    content: " ";
    display: block;
    width: 100%;
    background: #a1a2a2;
    height: 2px;
}

.recent-section{
    display: flex;
    flex-direction: column;
}

.recent-section button{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.recent-section button:hover{
    background-color: #313861;
    color: whitesmoke;
}

.weather-container {
    padding: 10px;
    width: 100%;
}

#weather{
    padding: 10px;
}

.weather-header{
    display: flex;
    flex-direction: row;
}


.weather-info{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.weather-info div{
    margin-bottom: 20px;
}

.forecast-days{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.forecast-tile{
    width: 20%;
    background: linear-gradient(90deg, #1f4837 0%, #3b8e65 100%);
    color: black  ;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}